db.sqlite
storage/database.sqlite
storage/*
*/.DS_Store
.DS_Store
__debug**
*.so
cmd/server/ako_plugin_*.go
releases/bin/*
**akoflow.log**
*.db
*.db-shm
*.db-wal
*.sif
.env
resources/
keys/
volumes/
/sbbd.txt
/hello-world-*.yaml
/hybrid.yaml
/wf-*.yaml
/build/
/examples/
config