{{template "base.html" .}}
{{define "title"}}AkôFlow Admin {{end}}
{{define "content"}}

<div>

    {{ template "header" dict "title" "Home" }}
    {{ template "stats_workflows"}}

    <hr class="dark:border-slate-700 my-8">

    {{ template "workflow_list" }}
    
</div>

<script>
    async function loadingPage() {
      
        const response = await connector.workflows().getWorkflows();
        const workflowsData = response.data || [];

        workflow_list_renderListWorkflows(workflowsData);
        stats_workflows_renderStats(workflowsData);
    }
    document.addEventListener('DOMContentLoaded', () => {
            loadingPage();
    });
</script>

{{end}}